.m{
  align-content: flex-start;
  flex-direction: column-reverse;

}


.main{
    display: flex;
    justify-content:space-evenly;
    margin-top: 80px;
    
    flex-direction: row-reverse;
  
    
}


.container{
    margin-bottom: 10px;
    width:27%;
    overflow: hidden;
    justify-content:space-around;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
    
}
img {width:30%;
}
.a1{
    display:flex;
    justify-content:space-around;
    margin: 10px;
    
    }
.b1{font-size:1.5rem;
    padding-left:4%;
    display: flex;
    flex-direction: column;
    gap: 1px; 
  }
  .b2{
    color:rgb(115, 138, 158)
  }
  p{
    margin: 15px;
    
  }
  .a2{
    display:flex ;
    justify-content:space-between;
  }
  .a3{
    color: rgb(8, 21, 137);
  }